.navbar {
  background-color: #FFFFFF;
  padding: 0 24px;
  margin: auto;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h2 {
  color: black;
}
.navbar h2 a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.navbar ul {
  font-weight: 500;
  gap: 4rem;
  padding-right: 12px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-container-01 {
  width: 1170px;
  height: 132px;
  background-color: white;
  border-radius: 8px;
}
.main-container-01 .container-00 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 16px;
  padding-left: 16px;
}
.main-container-01 .container-00 .check-box {
  border: 1px solid #808080;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.main-container-01 .container-00 .content-01 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.banner {
  width: 100%;
  height: 462px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/src/assets/1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner h1 {
  color: white;
  padding-bottom: 24px;
}

.flex-container-01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
}

.container-01 {
  width: 489px;
  height: 68px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  background-color: #FFFFFF;
  gap: 16px;
}
.container-01 .sub-container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.container-01 .content-02 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #404040;
}
.container-01 .content-03 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.container-02 {
  width: 254px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  background-color: #FFFFFF;
  gap: 8px;
}
.container-02 .sub-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.container-02 .sub-container .border {
  border-left: 1px solid #BFBFBF;
  padding-left: 16px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.container-02 .sub-container .content-02 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.container-02 .sub-container .content-03 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.container-03 {
  border-radius: 8px;
  background-color: #047F54;
  width: 117px;
  height: 68px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.icon {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
}

.icon-01 {
  width: 20px;
  height: 20px;
}

.card-01 {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.card-01 .box {
  display: flex;
  justify-content: flex-end;
}
.card-01 .box .deals {
  border-radius: 0 8px;
  background-color: #B41717;
  border-bottom: none;
  color: #FFFFFF;
  padding: 8px;
}
.card-01 .content {
  padding: 24px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
}
.card-01 .content .container-04 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-01 .content .container-05 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.card-01 .content .container-06 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.card-01 .content .container-06 .price-01 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  text-decoration: line-through;
}
.card-01 .content .container-06 .price-02 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #B41717;
}

.main-container-02 {
  padding: 64px 135px 154px 135px;
  align-items: center;
}
.main-container-02 .flex-container-02 {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.paragraph {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #404040;
}

* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=main.css.map */
