@use "../cards/card-01";

.main-container-02 { 
  padding: 64px 135px 154px 135px;
  align-items: center;
  .flex-container-02 {
    display: flex;
    justify-content: space-between;
  }
}

.header {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.paragraph {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #404040;
}