.card-01 {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  // border: 1px solid white;
  border-radius: 8px;
  background-color: #FFFFFF;
  .box {
    display: flex;
    justify-content: flex-end;
    .deals {
      border-radius: 0 8px;
      background-color: #B41717;
      border-bottom: none;
      color: #FFFFFF;
      padding: 8px;
    }
  }
  .content {
    padding: 24px;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    .container-04 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .container-05 {
      display: flex;
      flex-direction: row;
      gap: 8px;

    }
    .container-06 {
      display: flex;
      flex-direction: row;
      gap: 8px;
      .price-01 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #808080;
        text-decoration: line-through;
      }
      .price-02 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #B41717;
      }
    }
  }
}