.navbar {
    background-color: #FFFFFF;
    padding: 0 24px;
    margin: auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      color: black;
      a {
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
      }
    }
    ul {
      font-weight: 500;
      gap: 4rem;
      padding-right: 12px;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        a {
          font-weight: 600;
          font-size: 12px;
          line-height: 19.5px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
}