.footer {
  .container-08 {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #047F54;
    .list {
      ul {
        display: flex;
        flex-direction: row;
        gap: 64px;
        li {
          list-style: none;
          display: inline-block;
          color: #FFFFFF;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          a {
            text-decoration: none;

          }
        }
      }
    }
  }
  .container-09 {
    width: 100%;
    padding: 64px 0;
    background-color: #E6F2EE;
    .flex-box {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .logo {
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: center;
      }
      .content {
        text-align: center;
        color: #047F54;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}